<form action="/singup" method="POST">
    <input type="email" name="email" placeholder="Inserir Email">
    <input type="password" name="password" placeholder="Inserir Password">

    <button type="submit">
        Enviar
    </button>
</form>